.item {
    cursor: pointer;
    &:hover {
        box-shadow: rgb(43, 41, 43) 5px 5px 20px;
    }
    .img {
        margin: auto;
        width: 50%;
        height: 160px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .m96 {
        max-height: 96px;
        min-height: 96px;
    }
    .product-item {
        width: 23.5rem;
    }
}

.product {
    width: 85%;
    margin: auto;
}