.item {
    cursor: pointer;
    &:hover {
        box-shadow: rgb(43, 41, 43) 5px 5px 20px;
    }
    .img {
        margin: auto;
        width: 50%;
        height: 200px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .m96 {
        max-height: 96px;
        min-height: 96px;
    }
    .product-item {
        width: 23.5rem;
    }
    .price {
        font-size: 20px;
        font-weight: bold;
        position: relative;
        &:after {
            content: "đ";
            position: absolute;
            top: -8px;
        }
        &.sale {
            text-align: right;
            font-size: 15px;
            font-weight: normal;
            text-decoration: line-through;
        }
    }
    a {
        text-decoration: none;
    }
}

.product {
    width: 85%;
    margin: auto;
}